html {background: linear-gradient(90deg, #001c03 0%, #520000 50%, #001c03 100%);
      width: 100%;
      font-family: 'Poppins', sans-serif;
      background-repeat: repeat-y;
      background-size: 200% 200%;
      animation: gradientBG 20s ease infinite;
      background-color: #520000;
      cursor: default;
      display: flex; color: #e7e7e7e7;}

hr {box-shadow: 0px 0px 5px red; background: linear-gradient(to right, transparent, red, transparent); border: none; height: 1px; animation: pulse 2s infinite;}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes pulse {
    0%, 100% { box-shadow: 0 0 5px red; }
    50% { box-shadow: 0 0 15px red; }
}

#T1 {color: red; text-shadow: 0px 0px 15px red}

#Img {height: 50%; width: 50%; border: outset 3px darkred; background: linear-gradient(90deg, #001c03 0%, #520000 50%, #001c03 100%);
      box-shadow: 0px 0px 35px black; transition: filter 1s, box-shadow 3s;}

#Img:hover {filter: brightness(1.2); box-shadow: 0px 0px 35px red; transition: filter 1s, box-shadow 3s;}

#A1 {color: white;}

a {color: orange; text-decoration: none; text-shadow: 0px 0px 5px yellow; transition: color 1s, text-shadow 1s;}

a:hover {text-shadow: 0px 0px 15px yellow; color: yellow; transition: color 1s, text-shadow 1s;}

@media screen and (min-width: 900px){
  #Img {height: 15%; width: 15%;}
}