html {height: 100%;
      background: linear-gradient(to left top, purple, black);
      font-family: 'Poppins', sans-serif;
      background-repeat: no-repeat;
      background-color: purple;
      cursor: default;
      display: flex; color: #e7e7e7e7;}

#T1 {color: #ed8300b7; text-decoration: underline; text-shadow: 0px 0px 15px orange}

#Img {height: 50%; width: 50%;}

.P1 {border: solid 2px black;
     box-shadow: 0px 0px 35px black;}

#A1 {color: #e7e7e7e7;}

a {color: orange;}

@media screen and (min-width: 900px){
  #Img {height: 15%; width: 15%;}
}